[submodule "trafficAnalyzer/scapy-http"]
	path = trafficAnalyzer/scapy-http
	url = https://github.com/invernizzi/scapy-http.git
[submodule "trafficAnalyzer/scapyhttp"]
	path = trafficAnalyzer/scapyhttp
	url = https://github.com/invernizzi/scapy-http.git
